<h1>Articles</h1>


<%= link_to "Sign up for a new user account.", signup_path %> | <%= link_to "Log in.", login_path %>



<% @articles.each do |a|%>

	<p><%= link_to(a.title, article_path(a.id)) %></p>
<%end%>

<%= link_to("New Article", new_article_path) %>



