<h1>Profile</h1>

<!-- <a href="<%= welcome_path %>"><%= @welcome_message %></a> -->

<%= link_to("Click here to go to the Welcome page.", welcome_path, :class => "fancy_link") %>

<%= image_tag("http://placekitten.com/g/600/400", :class => "fancy_image") %>