<h1>Tony Plaza's Portfolio</h1>

<p>This will be a complete porfolio in due time. Life happens when your making other plans </p>

<%= link_to("Click here to go to the profile page.", profile_path, :class => "fancy_link") %>
