<h1>Tony Plaza's Omaha Code School Projects</h1>

<p>These are sure to be amazing!</p>

<% @class_projects.each do |proj|%>
	<!-- <p><%= proj.name%> <%= proj.category%></p> -->
	<p><%= link_to(proj.name, class_project_path(proj.id)) %></p>
<%end%>

<%= link_to("New Class Project", new_class_project_path) %>



