
<h1><%= @class_project.name %>'s Details</h1> 
	<p>Category: <%= @class_project.category %></p>

<%= link_to("Edit Class Project", edit_class_project_path) %>
<%= link_to("Delete Project", delete_class_project_path, :method => :delete) %>






